{
  "env": {
    "browser": true,
    "jquery": true
  },
  "extends": "htmlacademy/es5",
  "rules": {},
  "globals": {
    "window": true,
    "document": true,
    "svg4everybody": true,
    "Swiper": true,
    "autosize": true,
    "scrollLock": true
  }
}
