.page-footer {
  display: grid;
  max-width: 1170px;
  padding: 0 20px;
  margin: 0 auto;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 0;
    border-top: 2px solid $grey;
    border-bottom: 2px solid $grey;

    @media (max-width: 1050px) {
      padding: 30px 0;
    }

    @media (max-width: 840px) {
      grid-template-columns: 1fr;
    }
  }

  &__nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: 350px) {
      grid-template-columns: 51% 49%;
    }
  }

  &__logo {
    justify-self: left;
    align-self: start;

    @media (max-width: 500px) {
      color: $green;
    }

    span {
      @media (max-width: 500px) {
        color: $black;
      }
    }

    &:hover,
    &:active,
    &:focus {
      color: $black;

      span {
        @media (max-width: 500px) {
          color: $green;
        }
      }
    }
  }

  &__menu {
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-auto-flow: column;
    justify-content: end;
    max-height: 160px;
    margin-top: 2px;
    font-size: 15px;
    font-weight: 400;

    @media (max-width: 1050px) {
      font-size: 12px;
      justify-content: start;
    }

    @media (max-width: 840px) {
      grid-template-rows: repeat(3, auto);
      max-height: 100px;
      justify-content: end;
    }

    @media (max-width: 430px) {
      grid-template-rows: repeat(6, auto);
      max-height: 200px;
    }

    li {
      margin-left: 115px;

      @media (max-width: 1200px) {
        margin-left: 70px;
      }

      @media (max-width: 1020px) {
        margin-left: 20px;
      }

      @media (max-width: 350px) {
        margin-left: 10px;
        text-align: right;
      }
    }

    a {
      color: $text-grey;
      line-height: 25px;
      transition: 0.2s;

      &:hover,
      &:active,
      &:focus {
        color: black;
      }
    }
  }

  &__form {
    display: grid;
    justify-content: end;

    @media (max-width: 840px) {
      justify-content: center;
      margin-top: 20px;
    }

    @media (max-width: 460px) {
      justify-content: left;
    }
  }

  &__form-title {
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    color: $text-grey;

    @media (max-width: 1050px) {
      font-size: 12px;
    }

    @media (max-width: 840px) {
      margin-bottom: 10px;
    }
  }

  &__form-email {
    width: 460px;
    display: grid;
    grid-template-columns: 302px 145px;
    grid-column-gap: 7px;
    align-content: center;

    @media (max-width: 1050px) {
      width: 400px;
      grid-column-gap: 0;
      grid-template-columns: 66% 33%;
    }

    @media (max-width: 460px) {
      width: 100%;
    }

    input {
      display: block;
      box-sizing: border-box;
      width: 100%;
      height: 46px;
      padding: 0 25px;
      border: none;
      box-shadow: 0 0 24px -15px;
      font-size: 15px;

      &::placeholder {
        color: $text-light;
      }

      @media (max-width: 1050px) {
        font-size: 13px;
        height: 38px;
      }

      @media (max-width: 840px) {
        margin-bottom: 15px;
        width: auto;
        padding: 0 10px;
      }

      @media (max-width: 400px) {
        width: 150px;
      }
    }

    button {
      justify-self: end;
      background: $green-light;
      border: none;
      width: 145px;
      height: 46px;
      color: #363639;
      position: relative;
      transition: 0.2s;
      cursor: pointer;

      @media (max-width: 1050px) {
        font-size: 13px;
        width: 115px;
        height: 38px;
      }

      &:hover,
      &:active,
      &:focus {
        background: white;
        outline: 1px solid black;
      }
    }
  }

  &__social {
    align-items: end;
    justify-content: left;
    display: grid;
    grid-auto-flow: column;
    font-size: 0;

    li {
      margin-right: 30px;
    }

    a {
      &:hover,
      &:active,
      &:focus {
        svg {
          fill: $green-light;
        }
      }
    }

    svg {
      width: 18px;
      transition: 0.2s;
      fill: #666666;

      @media (max-width: 1050px) {
        width: 15px;
      }
    }
  }

  &__contact {
    justify-self: end;
    margin: 26px 0;
    background: none;
    border: none;
    color: $text-light;
    font-size: 15px;
    transition: 0.2s;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      color: black;
    }

    @media (max-width: 1050px) {
      font-size: 12px;
      margin: 15px 0;
    }
  }
}
