.random {
  display: grid;
  justify-content: flex-end;
  align-items: center;
  //grid-auto-flow: column;
  position: relative;
  max-width: 1170px;
  height: 600px;
  padding: 0 20px;
  margin: 85px auto;

  @media (max-width: 1360px) {
    height: 500px;
  }

  @media (max-width: 1050px) {
    height: 400px;  
  }

  @media (max-width: 840px) {
    height: 350px; 
    margin-top: 40px;
    margin-bottom: 40px;
  }

  @media (max-width: 730px) {
    justify-content: center;
    height: auto;
  }
}

.random-image {  
  position: absolute;
  left: -125px; 
  z-index: -1;

  @media (max-width: 1460px) {
    left: -75px; 
  }

  @media (max-width: 1360px) {
    width: 600px;
    left: 0px; 
  }

  @media (max-width: 1050px) {
    width: 520px;    
  }

  @media (max-width: 840px) {
    width: 400px;
  }

  @media (max-width: 730px) {
    display: block;
    position: relative;
  }

  @media (max-width: 500px) {
    width: 300px;    
  }
}

.random-textblock {
  display: grid;
  width: 652px;  

  @media (max-width: 1460px) {
    width: 500px;
  }

  @media (max-width: 1150px) {
    text-align: end;
  }

  @media (max-width: 1000px) {
    width: 450px;    
  }

  @media (max-width: 730px) {
    margin-top: 20px;
    width: 100%;
    text-align: start;
  }
}

.random-title {
  max-width: 500px;  
}

.random-text {
  max-width: 580px;
}

.random-link {
  justify-self: flex-end;
}

