.submenu {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 9px;
  height: 9px;
  margin-left: 19px;
  border: 2px solid black;
  border-radius: 100%;
  transition: 0.2s;
  cursor: pointer;

  @media (max-width: 700px) {
    width: 7px;
    height: 7px;
  }


  &:hover,
  &:active,
  &:focus {
    transform: scale(1.3);
    border-color: white;
    background: white;
  }

  &--active {
    width: 51px;
    height: 51px;
    background: black;

    &:hover,
    &:active,
    &:focus {
      background: white;
      border-color: white;
      transform: scale(1);

      .submenu-btn {
        div {
          background: black;
        }
      }
    }

    .submenu-btn {
      opacity: 1;
      width: 17px;
      height: 14px;
      left: calc(50% - 8.5px);

      div {
        background: white;
        border-radius: 1px;
        height: 2px;
        margin-bottom: 3px;
        transition: 0.2s;
      }
    }

    @media (max-width: 700px) {
      width: 41px;
      height: 41px;
    }
  }


}

.submenu-btn {
  transition: 0.2s;
  opacity: 0;
  width: 0;
  height: 0;
}

.submenu-list {
  display: none;
}
