@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/ubuntu/Ubuntu-Medium.woff"),
       url("../fonts/ubuntu/Ubuntu-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Light.woff"),
       url("../fonts/poppins/Poppins-Light.ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Regular.woff"),
       url("../fonts/poppins/Poppins-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Bold.woff"),
       url("../fonts/poppins/Poppins-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Cormorant";
  src: url("../fonts/cormorant/Cormorant-SemiBold.woff"),
       url("../fonts/cormorant/Cormorant-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Bold.woff"),
       url("../fonts/roboto/Roboto-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.woff"),
       url("../fonts/roboto/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
