html {
  overflow-x: hidden;
}

.page {
  font-family: 'Myriad Pro', Arial, sans-serif;
  font-weight: 300;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}
